.password-toggle {
    cursor: pointer;
    background: none;
    padding: 0;
    border: 0;

    img {
        vertical-align: middle;
    }

    &:hover img {
        filter: invert(34%) sepia(45%) saturate(3628%) hue-rotate(211deg) brightness(84%) contrast(84%);
    }
}
