.password-checker {
    display: flex;
    margin: 0.25em 0;
    justify-content: space-between;
    align-items: center;

    span {
        padding: 0.15em 0.5em;
        text-transform: capitalize;
    }

    .low {
        background: red;
        color: white;
    }
    .medium {
        background: yellow;
    }
    .high {
        background: green;
        color: white;
    }
}
