body {
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 1em 1em 2em;
}

hr {
    margin: 2em 0;
}

/* for better alignment of label and input field in Safari */
label input[type=checkbox] {
    vertical-align: top;
}

