.theme-minimal {
    padding: 1em;
    border-radius: 0.25em;
    background: #eee;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 768px) {
        width: auto;
        display: inline-block;
    }

    fieldset {
        border: 0;
        padding: 0;

        legend {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 1em;
        }

        > div {
            margin-bottom: 1em;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    button[type=submit] {
        padding: 0.5em 1em;
        font-size: inherit;
        background: white;
        border-radius: 0.25em;
    }
}
